* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bigOrange: rgb(255 130 0);
  --bigOrangeFaded: rgb(255 130 0 / 0.8);
  --smokeyGray: rgb(88 89 91);
  --smokeyGrayFaded: rgb(88 89 91 / 0.2);
  --tnDarkMode: rgb(50 50 50);
  --neylandGreen: rgb(31 100 32);
  --chalkWhite: rgb(255 255 255 / 0.8);
}

body {
  min-height: 100vh;
  font-family: Geogrotesque, Segoe UI, Helvetica, Arial, sans-serif;
  background: #f8f8f8;
}

#MainHeader {
  height: 40px;
}

#PageHead {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--smokeyGray);
  max-width: 100vw;
}

#MainContent {
  margin-top: 10px;
  width: 80%;
  margin: 1rem auto;
  margin-bottom: 3rem;
  background: rgb(240, 240, 240);
  padding: 2rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  #MainContent {
    width: 100%;
    margin: 0;
  }
}

#PageTitle {
  width: 100%;
  padding: 0 1rem;
  margin: 20px 0px;
  height: fit-content;
}

#PageLabel {
  font-size: 1.75rem;
  font-style: italic;
}

#MainFooter {
  height: 50px;
}

#PageFoot {
  width: 100%;
  height: 20px;
  background-color: gainsboro;
}
