/* #ScoresNav {
  text-align: center;
  font-weight: 500;
  width: 80%;
  margin: auto;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
} */

#WeekBtnContainer {
  display: flex;
  height: 100%;
align-items: center;
margin: auto;
  /* justify-content: center; */
  /* font-weight: initial; */
  /* margin-top: .5rem; */
}

.week-btn {
  font-size: 0.8rem;
  margin: 0 0.25rem;
  text-align: center;
  padding-top: 0.4rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--smokeyGray);
  border-radius: 20px;
  cursor: pointer;
}
.week-btn:hover {
  background-color: var(--smokeyGrayFaded);
}
.week-btn:active {
  background-color: black;
  color: white;
  transform: scale(0.9);
}
.week-btn.current {
  background: var(--smokeyGray);
  color: white;
}

#ScoresContainer {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  background: rgb(240, 240, 240);
  padding: 2rem;
  border-radius: 0.5rem;
}

#WeekLabel {
  background-color: var(--smokeyGrayFaded);
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.date-label {
  border-top: 1px solid black;
  padding: 0.25rem 0;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.game-pods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem
}

.game-pod {
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  background: #f8f8f8;
  padding: 1rem;
  max-width: 300px;
}

.game-pod th {
  font-weight: initial;
}

.time {
  position: absolute;
  font-size: 0.8rem;
}

.rank {
  font-size: 0.75rem;
}

.logo {
  padding: 0 0.5rem;
}
.logo > img {
  width: 1rem;
  height: auto;
}
.name {
  padding: 0.25rem;
}
.score,
.spread,
.total {
  text-align: center;
}

.rank {
  min-width: 1.5rem;
  max-width: 1.5rem;
}
.logo {
  min-width: 2rem;
  max-width: 2rem;
}
.name {
  min-width: 4rem;
  max-width: 4rem;
}
.score {
  min-width: 3rem;
  max-width: 3rem;
}
.spacer {
  min-width: 1rem;
  max-width: 1rem;
}

.spread,
.total {
  font-size: 0.75rem;
}

.odds {
  width: 3rem;
  box-shadow: rgb(0 0 0 / 0.2) 0px 1px 4px;
  border-radius: 0.25rem;
  font-weight: normal;
  width: 44px;
  max-width: 44px;
  min-width: 44px;
}

td.spread.win,
td.total.win {
  box-shadow: rgb(0 195 90 / 0.3) 0px 1px 4px;
  color: rgb(0 195 90);
  font-weight: bold;
}
td.spread.loss,
td.total.loss {
  box-shadow: none;
  color: transparent;
}

tr[data-winner='true'] {
  font-weight: bold;
}
